# Contents

- [Load libraries](#Load-libraries)
- [Create table](#Create-table)

# Load libraries

In [1]:
import sqlite3
import pandas as pd
import numpy as np

# Create table

In [2]:
sql_create_country = """ CREATE TABLE country (
		"country"		TEXT PRIMARY KEY,
		"continents"	TEXT
)"""

sql_create_year = """ CREATE TABLE year (
		"year"			INTEGER PRIMARY KEY
)"""

sql_create_sex = """ CREATE TABLE sex (
		"sex"			TEXT PRIMARY KEY
)"""

sql_create_adult_mortality = """ CREATE TABLE adult_mortality (
	"country"			TEXT,
	"year"				INTEGER,
	"sex"				TEXT,
	"adult_mortality"	REAL,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_maternal_mortality = """ CREATE TABLE maternal_mortality (
	"country"			TEXT,
	"year"				INTEGER,
	"maternal_ratio"	REAL,
	"num_maternaldeath"	REAL,
PRIMARY KEY ("country","year"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year")
)"""


sql_create_no_infantdeath = """ CREATE TABLE no_infantdeath (
	"country"			TEXT,
	"year"				INTEGER,
	"sex"				TEXT,
	"no_infantdeath"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_no_neonataldeath = """ CREATE TABLE no_neonataldeath (
	"country"			TEXT,
	"year"				INTEGER,
	"sex"				TEXT,
	"no_neonataldeath"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_no_underfivedeath = """ CREATE TABLE no_underfivedeath (
	"country"			TEXT,
	"year"				INTEGER,
	"sex"				TEXT,
	"no_underfivedeath"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_prob_infantdeath = """ CREATE TABLE prob_infantdeathh (
	"country"			TEXT,
	"year"				INTEGER,
	"sex"				TEXT,
	"prob_infantdeathh"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_prob_neonataldeath = """ CREATE TABLE prob_neonataldeath (
	"country"				TEXT,
	"year"					INTEGER,
	"sex"					TEXT,
	"prob_neonataldeath"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

sql_create_prob_underfivedeath = """ CREATE TABLE prob_underfivedeath (
	"country"				TEXT,
	"year"					INTEGER,
	"sex"					TEXT,
	"prob_underfivedeath"	INTEGER,
PRIMARY KEY ("country","year","sex"),
FOREIGN KEY ("country") REFERENCES "country" ("country"),
FOREIGN KEY ("year") REFERENCES "year" ("year"),
FOREIGN KEY ("sex") REFERENCES "sex" ("sex")
)"""

In [3]:
year = pd.read_csv('../new_csv/year.csv')
country = pd.read_csv('../new_csv/country.csv')
sex = pd.read_csv('../new_csv/sex.csv')

adult_mortality = pd.read_csv('../new_csv/adult_mortality.csv')
maternal_mortality = pd.read_csv('../new_csv/maternal_mortality.csv')

no_infantdeath = pd.read_csv('../new_csv/no_infantdeath.csv')
no_neonataldeath = pd.read_csv('../new_csv/no_neonataldeath.csv')
no_underfivedeath = pd.read_csv('../new_csv/no_underfivedeath.csv')

prob_infantdeath = pd.read_csv('../new_csv/prob_infantdeath.csv')
prob_neonataldeath = pd.read_csv('../new_csv/prob_neonataldeath.csv')
prob_underfivedeath = pd.read_csv('../new_csv/prob_underfivedeath.csv')

In [4]:
conn = sqlite3.connect('health_data.db')

In [5]:
def get_template(df):
    num = len(df.columns)

    if num == 1:
        return ('(?)')
    else:
        text = '(?' + (num-1)*',?' + ')'
        return text

In [6]:
# define function that keeps only letters 
# gets table name defined by the sql_create variables
def get_tablename(sql_variable):
    return sql_variable.split()[2]

In [7]:
def create_sql_table(df, sql_create):
    
    columns = df.columns
    # if df has "year" column, need to convert to text first to prevent BLOB issue
    if 'year' in columns:
        df.year = df.year.astype((str))

    # record number of columns 
    num = len(df)

    # create list of tuples that contains contents of dataframe
    df_list = [tuple(df.iloc[i,:]) for i in range(num)]

    c = conn.cursor()

    c.execute(sql_create)
    text = "insert into " + get_tablename(sql_create) + " values " + get_template(df)
    c.executemany(text, df_list)

    conn.commit()

In [8]:
"insert into " + get_tablename(sql_create_adult_mortality) + " values " + get_template(adult_mortality)

'insert into adult_mortality values (?,?,?,?)'

In [9]:
create_sql_table(country, sql_create_country)
create_sql_table(year, sql_create_year)

In [10]:
create_sql_table(adult_mortality, sql_create_adult_mortality)

In [ ]:
create_sql_table(maternal_mortality, sql_create_maternal_mortality)

In [ ]:
create_sql_table(no_infantdeath, sql_create_no_infantdeath)

In [ ]:
create_sql_table(no_neonataldeath, sql_create_no_neonataldeath)

In [ ]:
create_sql_table(no_underfivedeath, sql_create_no_underfivedeath)

In [ ]:
create_sql_table(prob_infantdeath, sql_create_prob_infantdeath)

In [ ]:
create_sql_table(prob_neonataldeath, sql_create_prob_neonataldeath)

In [ ]:
create_sql_table(prob_underfivedeath, sql_create_prob_underfivedeath)

In [ ]:
conn.close()